/* Assignment 1 Styles  */
/* Hero Image  */
.clean-block.clean-hero::before{
    background-image: url(../../assets/img/assignment/resize/homepage-hero-resize.jpg);
    background-size: cover;
}
/* Blog main image  */
  .post-image{
    background-image: url(../../assets/img/assignment/resize/intro-img-resize.jpg);

    background-size: cover;
  }

h3, h4{
    color: black;
}

body h1{
  font-size: calc(24px + .5vw);
  line-height: calc(1.1em + 0.5vw);}


  body h2{
    font-size: calc(22px + .5vw);
    line-height: calc(1.1em + 0.5vw);
  
  }

body h3{
  font-size: calc(20px + .5vw);
  line-height: calc(1.1em + 0.5vw);

}

body h4{
  font-size: calc(16px + .5vw);
  line-height: calc(1.1em + 0.5vw);
}

p{
  font-size: calc(14px + .5vw);
  line-height: calc(1.1em + 0.5vw);
  }

